{% extends 'ui/base.html.twig' %}

{% block body %}

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        {{ form_row(form.firstName) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        {{ form_row(form.lastName) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        {{ form_row(form.phone) }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        {{ form_row(form.user.email) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {{ form_row(form._token) }}

                <div class="row">
                    <div class="col-sm">
                        <button type="submit" class="btn btn-sm btn-rounded btn-primary">
                            Enregistrer
                        </button>
                    </div>
                </div>

                {{ form_end(form, {render_rest: false}) }}

                <hr class="my-5">

                <p>Pour créer une adresse, <a href="{{ path('ui_account_address_add') }}">cliquez ici</a></p>

                <table class="table table-bordered" id="addressTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Addresse</th>
                        <th>Ville</th>
                        <th>Code postal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for addresse in customer.addresses %}
                        <tr>
                            <td class="align-middle">{{ addresse.type }}</td>
                            <td class="align-middle">{{ addresse.number }} {{ addresse.street }}</td>
                            <td class="align-middle">{{ addresse.city }}</td>
                            <td class="align-middle">{{ addresse.zip }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune adresse enregistrée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->


{% endblock %}
