<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    {% if order is not null %}
                        <table>
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for line in order.lines %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="/theme/img/shopping-cart/cart-1.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{ line.product.name }}</h6>
                                            <h5>{{ line.product.price }}€</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <a href="{{ path('ui_shop_cart_handle', {type: 'decrease', id: line.product.id}) }}"><i class="fa fa-minus"></i></a>
                                        <p>{{ line.quantity }}</p>
                                        <a href="{{ path('ui_shop_cart_handle', {id: line.product.id}) }}"><i class="fa fa-plus"></i></a>
                                    </td>
                                    <td class="cart__price">{{ line.amount }}€</td>
                                    <td class="cart__close"><a href="{{ path('ui_shop_cart_remove', {id: line.id}) }}"><i class="fa fa-close"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Aucun panier de créé</p>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{{ path('ui_shop_index') }}">Ajouter des produits</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if order is not null %}
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Livraison</h6>
                        <ul>
                        {% for delivery in deliveries %}
                            <li>
                                <a href="{{ path('ui_shop_cart_delivery', {id: delivery.id}) }}">
                                    <input type="radio" id="{{ delivery.id }}" name="delivery" value="{{ delivery.id }}"{% if order.delivery == delivery %}checked{% endif %}>
                                </a>
                                <label for="{{ delivery.id }}">{{ delivery.title }}</label>
                                <span>{{ delivery.price }}€</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="cart__total">
                        <h6>Total du panier</h6>
                        <ul>
                            <li><span>{{ total }}€</span></li>
                        </ul>
                        <a href="{{ path('ui_shop_checkout') }}" class="primary-btn">Récapitulatif</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
