<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">

                    {{ form_start(form, {attr: {id: form.vars.id}}) }}
                    <div class="form-group">
                        <label for="card-element">
                            Carte de crédit
                        </label>
                        <div id="card-element" class="form-control"></div>
                        <div id="card-errors" class="help-block" role="alert"></div>
                    </div>
                    {{ form_widget(form.token) }}
                    {{ form_end(form) }}

                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4 class="order__title">Votre commande</h4>
                        <div class="checkout__order__products">Produit <span>Total</span></div>
                        <ul class="checkout__total__products">
                            {% for line in order.lines %}
                                <li>{{ loop.index }}. {{ line.product.name}} <span>{{ line.product.price }}€</span></li>
                            {% endfor %}
                        </ul>
                        <ul class="checkout__total__all">
                            <li>Total <span>{{ order.total }}</span></li>
                        </ul>
                        <p>Tous les paiements sont 100% sécurisé</p>
                        <button type="submit" class="site-btn">Acheter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
