<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>{{ products|length }} produits</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/theme/img/product/product-2.jpg">
                                </div>
                                <div class="product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <a href="{{ path('ui_shop_cart_handle', {id: product.id}) }}" class="add-cart d-block">Ajouter au panier</a>
                                    <h5>{{ product.price }}€</h5>
                                    <div class="product__color__select">
                                        {% for stock in product.stocks %}
                                            <label for="color-{{ stock.id }}-{{ loop.index }}" style="background-color: {{ stock.color.hexa }}">
                                                <input type="radio" id="color-{{ stock.id }}-{{ loop.index }}">
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="{{ path('ui_shop_view', {'id': product.id}) }}">Voir</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
