<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Livraison offerte pour toutes les commandes</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links mr-0">
                            <a href="{{ path('register') }}">Inscription</a>

                            {% if app.user is null %}
                                <a href="{{ path('login') }}">Connexion</a>
                            {% else %}
                                <a href="{{ path('logout') }}">Déconnexion</a>
                            {% endif %}

                            {% if app.user and is_granted('ROLE_ADMINISTRATOR') %}
                                <a href="{{ path('admin_dashboard_index') }}">Accès admin</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{{ path('ui_home_index') }}"><img src="/theme/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li {% if app.request.get('_route') == 'ui_home_index' %} class="active"{% endif %}><a href="{{ path('ui_home_index') }}">Accueil</a></li>
                        <li {% if app.request.get('_route') == 'ui_shop_index' %} class="active"{% endif %}><a href="{{ path('ui_shop_index') }}">Nos produits</a></li>
                        <li {% if app.request.get('_route') == 'ui_account_personal' %} class="active ml-3"{% else %} class="ml-3"{% endif %}><a href="{{ path('ui_account_personal') }}">Mon profil</a></li>
                        <li {% if app.request.get('_route') == 'ui_account_order_index' %} class="active"{% endif %}><a href="{{ path('ui_account_order_index') }}">Mes commandes</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="{{ path('ui_shop_cart') }}"><img src="/theme/img/icon/cart.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
