<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="{{ path('register') }}">Inscription</a>

            {% if app.user is null %}
                <a href="{{ path('login') }}">Connexion</a>
            {% else %}
                <a href="{{ path('logout') }}">Déconnexion</a>
            {% endif %}

            {% if app.user and is_granted('ROLE_ADMINISTRATOR') %}
                <a href="{{ path('admin_dashboard_index') }}">Accès admin</a>
            {% endif %}
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="{{ path('ui_shop_cart') }}"><img src="/theme/img/icon/cart.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Livraison offerte pour toutes les commandes</p>
    </div>
</div>
<!-- Offcanvas Menu End -->
